<div *ngFor="let character of data">
  <img [src]="character.image" alt="{{ character.name }}">
  <h3>{{ character.name }}</h3>
  <button (click)="showCharacterDetails(character)">Show Details</button>

  <!-- Detalles del personaje para SweetAlert (ocultos en la vista) -->
  <div id="character-details-{{ character.id }}" style="display: none;">
    <p><strong>Race:</strong> {{ character.race }}</p>
    <p><strong>Gender:</strong> {{ character.gender }}</p>
    <p><strong>Base Ki:</strong> {{ formatKi(character.ki) }}</p>
    <p><strong>Total Ki:</strong> {{ formatKi(character.maxKi) }}</p>
    <p><strong>Affiliation:</strong> {{ character.affiliation }}</p>
    <h4 *ngIf="character.transformations?.length">Transformations:</h4>
    <div *ngIf="character.transformations; else noTransformations">
      <p *ngFor="let trans of character.transformations">{{ trans.name }}</p>
    </div>
    <ng-template #noTransformations><p>No transformations available.</p></ng-template>
  </div>
</div>
